        body {
          background-color: #FCFCFC;
        }
        
        .center {
          display: block;
          margin: 100px auto;
          width: 960px;
        }
        /*------------------------------------------*/
        
        .pop_up_content {
          width: 360px;
          height: 400px;
          background-color: #fff;
          position: relative;
          bottom: 28px;
          padding: 40px;
          text-align: center;
          margin: auto;
          /**/
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
        
        .pop_up_content span {
          font: 10px/14px "GothamProRegular";
          color: #57585b;
        }
        
        .cover {
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: 1;
          background-color: #000;
          opacity: 0.6;
        }
        
        .pop_up {
          position: fixed;
          margin: 10% auto;
          left: 0;
          right: 0;
          z-index: 2;
          width: 400px;
          height: 400px;
          border: solid 7px #27aae0;
          /**/
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
        
        .close_button {
          position: absolute;
          color: #ccc;
          padding: 1.5px 7px;
          right: 0;
          margin-right: 10px;
          margin-top: 10px;
          text-decoration: none;
          top: 0;
        }
        
        .close_button:hover {
          background-color: #27aae0;
          color: #fff;
        }
        
        .pop_up_content h3 {
          font: 20px/30px "GothamProBold";
          padding: 0 10px;
          color: #27aae0;
        }
        
        .pop_up_content p {
          padding: 20px 65px 10px 65px;
        }
        
        .pop_up_content p span {
          color: #ccc;
          background: url("../img/data_pop_up.png") left center no-repeat;
          padding-left: 20px;
          display: inline-block;
        }
        
        .pop_up_content form {
          margin-top: 50px;
        }
        
        .pop_up_content form input {
          border-radius: 0;
          margin-bottom: 14px;
          font: 12px/34px "GothamProRegular";
        }
        
        .pop_up_content form input[type="submit"] {
          font: 12px/34px "GothamProBold";
          width: 266px;
          padding: 0 10px;
        }
        
        .pop_up_content form input[type="text"] {
          background: url("../img/name_pop_up.png") no-repeat;
          text-indent: 30px;
        }
        
        .pop_up_content form input[type="tel"] {
          background: url("../img/tel_pop_up.png") no-repeat;
          text-indent: 30px;
        }
        /*========================RESPONSIVE===================*/
        
        @media screen and (max-width: 480px) {
          .pop_up {
            width: 300px;
          }
          .pop_up_content {
            ;
            width: 280px;
            padding: 10px;
          }
          .pop_up .search_top {
            width: 238px;
          }
          .pop_up_content form input[type="submit"] {
            width: 260px;
          }
        }
        /*========================RESPONSIVE===================*/